In [1]:
!pip install sweetviz

Collecting sweetviz
  Downloading sweetviz-2.1.4-py3-none-any.whl (15.1 MB)
Requirement already satisfied: tqdm>=4.43.0 in c:\users\a\anaconda3\lib\site-packages (from sweetviz) (4.62.3)
Requirement already satisfied: matplotlib>=3.1.3 in c:\users\a\anaconda3\lib\site-packages (from sweetviz) (3.4.3)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in c:\users\a\anaconda3\lib\site-packages (from sweetviz) (1.3.4)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\a\anaconda3\lib\site-packages (from sweetviz) (2.11.3)
Collecting importlib-resources>=1.2.0
  Downloading importlib_resources-5.10.0-py3-none-any.whl (34 kB)
Requirement already satisfied: scipy>=1.3.2 in c:\users\a\anaconda3\lib\site-packages (from sweetviz) (1.7.1)
Requirement already satisfied: numpy>=1.16.0 in c:\users\a\anaconda3\lib\site-packages (from sweetviz) (1.20.3)
Requirement already satisfied: zipp>=3.1.0 in c:\users\a\anaconda3\lib\site-packages (from importlib-resources>=1.2.0->sweetviz) (3.6.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\a\anaconda3\lib\site-packages (from jinja2>=2.11.1->sweetviz) (1.1.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\a\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\a\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (8.4.0)
Requirement already satisfied: cycler>=0.10 in c:\users\a\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (0.10.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\a\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\a\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (3.0.4)
Requirement already satisfied: six in c:\users\a\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.1.3->sweetviz) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\a\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2021.3)
Requirement already satisfied: colorama in c:\users\a\anaconda3\lib\site-packages (from tqdm>=4.43.0->sweetviz) (0.4.4)
Installing collected packages: importlib-resources, sweetviz
Successfully installed importlib-resources-5.10.0 sweetviz-2.1.4

WARNING: Ignoring invalid distribution -tatsmodels (c:\users\a\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\a\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\a\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\a\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\a\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\a\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\a\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\a\anaconda3\lib\site-packages)

In [5]:
import sweetviz
import pandas as pd
df=pd.read_csv(r'C:\Users\a\Downloads\Dataset\data0\aug_test.csv',encoding='utf-8')
my_report=sweetviz.analyze([df,'city_development_index	'],target_feat='training_hours')
my_report.show_html('Final Report.html')

                                             |                                             | [  0%]   00:00 ->â€¦

C:\Users\a\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:240: RuntimeWarning: Glyph 9 missing from current font.
  font.set_text(s, 0.0, flags=flags)
C:\Users\a\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:203: RuntimeWarning: Glyph 9 missing from current font.
  font.set_text(s, 0, flags=flags)

Report Final Report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [3]:
df.head()

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,32403,city_41,0.827,Male,Has relevent experience,Full time course,Graduate,STEM,9,<10,NaN,1,21
1,9858,city_103,0.920,Female,Has relevent experience,no_enrollment,Graduate,STEM,5,NaN,Pvt Ltd,1,98
2,31806,city_21,0.624,Male,No relevent experience,no_enrollment,High School,NaN,<1,NaN,Pvt Ltd,never,15
3,27385,city_13,0.827,Male,Has relevent experience,no_enrollment,Masters,STEM,11,10/49,Pvt Ltd,1,39
4,27724,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,10000+,Pvt Ltd,>4,72

In [ ]:
!pip install autoviz